<div class="container_content">
    
<div class="container">
    <div class="input">
        <div class="row">
            <label>Nombre: </label>
            <input type="text">
        </div>
        <div class="row">
            <label>Apellido paterno: </label>
            <input type="text">
        </div>
        <div class="row">
            <label>Apellido materno: </label>
            <input type="text">
        </div>
        <div class="row">
            <label>Estado: </label>
            <input type="text">
        </div>
        <div class="row">
            <label>Email: </label>
            <input type="email">
        </div>
        <div class="row">
            <label>Id usuario: </label>
            <input type="text">
        </div>
        <div class="row">
            <label>Id sucursal_especialidad: </label>
            <input type="text">
        </div>
        <div class="btn btn-primary custom-btn">Guardar médico</div>
        
    </div>
    
</div>
</div>
