
<div class="table-responsive custom-table">
    <h1>SUCURSALES</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sucursal of sucursales">
          <td>{{ sucursal.id }}</td>
          <td>{{ sucursal.nombre }}</td>
          <td>{{ sucursal.direccion }}</td>
          <td>
            <button>añadir</button>
            <button>eliminar</button>
            <button>actualizar</button>    
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  