<div class="table-responsive custom-table">
  <h1>SUCURSALES</h1>
  <button class="btn btn-outline-info custom-btn-add" [routerLink]="['/crear-sucursal']">agregar sucursal</button>
  <button style="margin-left: 0.5rem;"  class="btn btn-outline-info custom-btn-add" [routerLink]="['/crear-especialidad-sucursal']">asignar epecialidad</button>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sucursal of sucursales">
        <td>{{ sucursal.id }}</td>
        <td>{{ sucursal.nombre }}</td>
        <td>{{ sucursal.direccion }}</td>
        <td>
          <div class="contain-btn-action">
            <button class="btn btn-outline-danger custom-btn" (click)="eliminarSucursal(sucursal)">eliminar </button>
            <button class="btn btn-outline-primary" [routerLink]="['/actualizar-sucursal',sucursal.id]">actualizar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="table-responsive custom-table">
  <h1>SUCURSALES</h1>
  <button class="btn btn-outline-info custom-btn-add" [routerLink]="['/crear-sucursal']">Agregar sucursal</button>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Especialidades</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sucursal of sucursales">
        <td>{{ sucursal.id }}</td>
        <td>{{ sucursal.nombre }}</td>
        <td>{{ sucursal.direccion }}</td>
        <td>
          <ul>
            <li *ngFor="let especialidad of sucursal.especialidades">{{ especialidad.nombre }}</li>
          </ul>
        </td>
        <td>
          <div class="contain-btn-action">
            <button class="btn btn-outline-danger custom-btn" (click)="eliminarSucursal(sucursal)">Eliminar</button>
            <button class="btn btn-outline-primary" [routerLink]="['/actualizar-sucursal', sucursal.id]">Actualizar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

