
<div class="layout">
  <div class="dashboard_">
    <app-dashboard-admin></app-dashboard-admin>
  </div>
  <div class="content">
    <div class="nav">
      <ul class="nav justify-content-end">
        <!-- <li class="nav-item">
          <a class="nav-link active custom-a" aria-current="page" href="/">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link custom-a" href="" (click)="logout()">Cerrar sesión</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link custom-a" href="">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-a" href="">Numero de emergencias</a>
        </li> -->
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
