<div class="container_content">
    
  <div class="container">
      <div class="input">
         
          <div class="row">
              <label>Nombre: </label>
              <input type="text" [(ngModel)]="especialidad.nombre" name="nombre">
          </div>
          <div class="row">
              <label>Descripción: </label>
              <input type="text" [(ngModel)]="especialidad.descripcion" name="descipcion">
          </div>
      
          <div class="btn btn-primary custom-btn" (click)="crearEspecialidad()">Guardar especialidad</div>
          
      </div>
      
  </div>
  </div>
  
