<div class="container_content">
    
    <div class="container">
        <div class="input">
           
            <div class="row">
                <label>Nombre: </label>
                <input type="text" [(ngModel)]="sucursal.nombre" name="nombre">
            </div>
            <div class="row">
                <label>Dirección: </label>
                <input type="text" [(ngModel)]="sucursal.direccion" name="direccion">
            </div>
            <div class="btn btn-primary custom-btn" (click)="actualizarSucursal()">Actualizar sucursal</div>
        </div>
        
    </div>
    </div>
    
